<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <?php 
        if (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == 'on') {
            $formpath = 'https://'.$_SERVER['SERVER_NAME'].$GLOBALS["web_root"].'/interface/forms/'.$this->form_folder;
            $globalpath = 'https://'.$_SERVER['SERVER_NAME'].$GLOBALS["web_root"];
        } else {
            $formpath = 'http://'.$_SERVER['SERVER_NAME'].$GLOBALS["web_root"].'/interface/forms/'.$this->form_folder;
            $globalpath = 'http://'.$_SERVER['SERVER_NAME'].$GLOBALS["web_root"];
        }
    ?>
    <!-- supporting javascript code -->
    <script type='text/javascript' src="<?php echo $GLOBALS['assets_static_relative']; ?>/jquery-min-1-7-2/index.js"></script>
    <script type='text/javascript' src="<?php echo $GLOBALS['assets_static_relative']; ?>/jquery-datetimepicker-2-5-4/build/jquery.datetimepicker.full.min.js"></script>

    <!-- page styles -->
    <link rel="stylesheet" href="<?php echo $GLOBALS['assets_static_relative']; ?>/jquery-datetimepicker-2-5-4/build/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="<?php echo $formpath; ?>/style.css" type="text/css">

    <script type="text/javascript" language="javascript">
        // this line is to assist the calendar text boxes
        var mypcc = '<?php echo $GLOBALS["phone_country_code"] ?>';

        function PrintForm() {
            newwin = window.open("<?php echo $formpath.'/print.php?id='.$_GET['id']; ?>","mywin");
        };
    </script>

</head>

<body class="body_top">
<div>
<span class="bold"><?php echo 'Реабілітацію розпочато:&nbsp;'.date("d, F, Y", $this->createdate); ?></span><br>
<span class="bold"><?php echo 'Сьогодні:&nbsp;'.date("d, F, Y", time()); ?></span>
</div>
<hr>
<form method="post" action="<?php echo $formpath; ?>/save.php?mode=<?php echo $this->form_mode; ?>&id=<?php echo $_GET['id']; ?>" name="orthoRehabForm" id="orthoRehabForm">
<span class="title"><?php xl($this->form_name,'e'); ?></span><br>

<input type="hidden" id="formidexam" name="id" value="<?php echo $this->form_idexam; ?>" />
<input type="hidden" id="pid" name="pid" value="<?php echo $this->form_pid; ?>">
<input type="hidden" id="createdate" name="createdate" value="<?php echo $this->createdate; ?>">
<input type="hidden" id="process" name="process" value="true">

<!-- Save/Cancel links -->
<input type="button" class="save" value="<?php xl('Save and Exit','e'); ?>"> &nbsp;
<input type="button" class="saveajax" value="<?php xl('Save','e'); ?>"> &nbsp;
<input type="button" class="dontsave" value="<?php xl('Don\'t Save Changes','e'); ?>"> &nbsp;
<input type="button" class="printform" value="<?php xl('Print','e'); ?>"> &nbsp;

<!-- container for the main body of the form -->
<div id="form_container">
    <div class="popup success centertext bold">Saving Successful!</div>
    <div class="popup failure centertext bold">Saving Failure!</div>
<div id="general">

<?php
    echo '<div id="activesessions">';
    echo '<h3>Поточна сесія (спостереження):</h3>';
    //sensor selector
    if ($this->sensorid == 0) { $first_row_sel = 'selected'; } else { $first_row_sel = ''; }
    $sensor_selector = '<select id="sensorid" name="sensorid">';
    $sensor_selector .= '<option value="0" '.$first_row_sel.'>---Виберіть сенсор:---</option>';
    //var_dump($sensor_selector);

    foreach ($Sensors as $key=>$Sensor)
    {
        if ($this->sensorid == $Sensor->id) { $row_sel = 'selected'; } else { $row_sel = ''; }
        $sensor_selector .= '<option value="'.$Sensor->id.'" '.$row_sel.'>'.$Sensor->sensorname.'</option>';
    }
    $sensor_selector .= '</select>';

    echo '<div class="bold warningtext diseases">Моніторинг: сенсор № ';
    echo $sensor_selector;
    echo '</div>';
    echo '<div class="bold warningtext diseases">почато: ';
    echo '<input type="text" size="14" class="datetimepicker" id="sensorassigndate" name="sensorassigndate" value="'. $this->sensorassigndate .'"/>';
    echo '</div>';
    echo '<div class="bold warningtext diseases">закінчено: ';
    echo '<input type="text" size="14" class="datetimepicker" id="sensorreleasedate" name="sensorreleasedate" value="'. $this->sensorreleasedate .'"/>';
    echo '</div>';
    echo '</div>';
    echo '<hr>';
    echo '<div id="previoussessions">';
    echo '<h3>Попередні сесії (спостереження):</h3>';

//echo var_dump($SensorRecord);
//echo('<br>');
//echo 'record[20]=';
//echo var_dump($SensorRecordValue);
//echo('<br>');
//echo 'record[20](decode)=';
//echo var_dump(json_decode($SensorRecordValue));
//echo('<br>');
//echo('<hr>');
echo('<hr>');
foreach ($SensorRecordValues as $key=>$sensorRecordData) {
echo ' N=';
echo $key;
echo ' date=';
echo date(DATEFORMAT, $sensorRecordData->timerec);
echo ' sensor=';
echo $sensorRecordData->datavalue;
$sensorRecordDataValue = SensorRecordModel::get_sensordata_value_id($sensorRecordData->id);
echo ' data=';
echo $sensorRecordDataValue;
echo('<br>');
echo('<hr>');
//echo 'record[5](decode)=';
//echo var_dump(json_decode($SensorRecordValue5));
}
    echo '</div>';
?>

</div>

</div> <!-- end form_container -->

<input type="button" class="save" value="<?php xl('Save and Exit','e'); ?>"> &nbsp;
<input type="button" class="saveajax" value="<?php xl('Save','e'); ?>"> &nbsp;
<input type="button" class="dontsave" value="<?php xl('Don\'t Save Changes','e'); ?>"> &nbsp; 
<input type="button" class="printform" value="<?php xl('Print','e'); ?>"> &nbsp;

</form>

</body>

<script type="text/javascript">
    // jQuery stuff to make the page a little easier to use
    $(document).ready(function(){
        $('.datetimepicker').datetimepicker({
      format:'Y-m-d H:i:s',
      lang:'ua'
    });
    $(".save").click(function() {
        top.restoreSession(); 
        if ($("#sensorid :selected").val() == 0) {
            alert("Sensor is not selected!");
        } else {
            document.orthoRehabForm.submit();
        }
    });
    $(".saveajax").click(function() {
    var $form = $('#orthoRehabForm'),
        data = $form.serialize(),
        url = $form.attr("action");
        if ($("#sensorid :selected").val() == 0) {
            alert("Sensor is not selected!");
        } else {
            var posting = $.post( url, data );
                posting.done(function(data) {
                    $( "div.success" ).fadeIn( 300 ).delay( 2000 ).fadeOut( 400 );
                });
                posting.error(function(data) {
                    $( "div.failure" ).fadeIn( 300 ).delay( 2000 ).fadeOut( 400 );
                });
        };
    });
    $(".dontsave").click(function() { location.href='<?php echo "$this->returnurl";?>'; });
    $(".printform").click(function() { 
        //PrintForm(); 
        
    var d = $('#sensorassigndate').datetimepicker('getValue');
    console.log(d);

    });

});

</script>

</html>